* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

/* ================= Common ================== */
a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: calc(100% - 48px);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    min-width: 173px;
    height: 57px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    color: #fff;
    background: var(--primary-color);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

/* ================= Header + Navigation ================== */
.header {
    position: sticky;
    top: -25px;
    z-index: 3;
    font-family: "Public Sans", sans-serif;
    padding-top: 28px;
    background: #fff;
}

.header__content,
.header__logo {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-left: 12px;
}

.header__brand {
    color: #000000;
    font-weight: 600;
}

.header__navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__link {
    padding: 8px 19px;
    color: #575d5e;
    font-size: 1.8rem;
}

.header__link:hover,
.header__link--active {
    color: #152427;
    line-height: 1.56;
}

.header__link--active::after {
    position: absolute;
    content: "";
    display: block;
    margin: 26px 0 0 2px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.header__btn {
    margin-left: 69px;
}

.header__line {
    margin-top: 13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ================= Hero ================== */
.hero {
    display: flex;
    height: calc(100vh - 99px);
    background: #fff;
    font-family: "Public Sans", sans-serif;
}

.hero .container {
    margin: auto;
}

.hero__content {
    display: flex;
    align-items: center;
}

/* Hreo Text */
.hero__text {
    flex-shrink: 0;
    width: 41.7%;
}

.hero__heading {
    max-width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    max-width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1.56;
}

.hero__button {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video::before {
    position: absolute;
    top: -10px;
    left: -9px;
    content: "";
    display: inline-block;
    width: 57px;
    height: 57px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

.hero__video {
    margin-left: 43px;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: #83a17d;
}

.hero__video:hover,
.hero__video-btn:hover {
    cursor: pointer;
}

.hero__video-btn {
    padding-left: 15px;
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Hero Media */
.hero__media {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.hero-photo {
    z-index: 1;
    max-width: 202px;
    width: 100%;
    border-radius: 999px;
}

.hero-photo:nth-child(2) {
    margin-top: 77px;
}

.hero__img {
    width: 100%;
    height: 466px;
    border-radius: 999px;
    object-fit: cover;
}

/* Union */
.hero__union {
    position: absolute;
    z-index: 2;
}

.hero__union--1 {
    top: -35px;
    left: -205px;
}

.hero__union--2 {
    top: -42px;
    left: -165px;
}

.hero__union--3 {
    top: 502px;
    left: calc(100% - 72px);
}

.hero__union--4 {
    top: 217px;
    left: calc(100% - 588px);
    transform: rotate(180deg);
}

/* Filter */
.hero__filter {
    position: absolute;
    top: calc(50% - (500px / 2));
    left: calc(50% - (205px / 2));
    width: 205px;
    height: 500px;
    background: #4dbb9a;
    border-radius: 999px;
    filter: blur(137px);
}

/* ================= Brand ================== */
.brand {
    margin-top: 42px;
    font-size: 1rem;
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 201px;
    border-radius: 999px;
    background: var(--secondary-color);
}

.brand__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.brand__google {
    color: var(--primary-color);
    font-size: 3.1em;
    font-weight: 500;
    line-height: normal;
}

.brand__slack {
    color: var(--primary-color);
    font-size: 3.2em;
    font-weight: 600;
    line-height: normal;
}

.brand__agworld {
    color: #163c35;
    font-size: 2.6em;
    font-weight: 400;
    line-height: normal;
}

.brand__riotinto {
    color: var(--primary-color);
    font-family: "Sonsie One", sans-serif;
    font-size: 2.3em;
    font-weight: 400;
    line-height: normal;
}

.brand__heroku {
    color: var(--primary-color);
    font-size: 1.9em;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}

/* ================= Services ================== */
.services {
    margin-top: 106px;
    font-family: "Poppins", sans-serif;
}

.services__sub-heading {
    display: flex;
    align-items: center;
    column-gap: 21px;
    color: #152427;
    font-weight: 500;
    line-height: 1.63;
}

.services__sub-heading::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.services__heading {
    /* display: flex;
    align-items: center; */
    column-gap: 21px;
    margin-top: 12px;
    width: 45.6%;
}

.services__heading::after {
    content: "";
    position: relative;
    bottom: 12px;
    left: 12px;
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.services__row {
    display: flex;
    align-items: center;
    column-gap: 422px;
}

.sevices__btn {
    display: flex;
    column-gap: 17px;
}

.services__arrow {
    width: 54px;
    height: 54px;
    border-color: transparent;
    border-radius: 50%;
    background: var(--secondary-color);
    color: #152427;
}

.services__arrow:hover {
    background: #152427;
    color: var(--secondary-color);
    cursor: pointer;
}

.services__bottom {
    margin-top: 76px;
}

.services__base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.services-item {
    border-radius: 20px;
}

.services-item:hover .services-item__img {
    transform: scale(1.3);
}

.services-item:hover .services-item__content {
    padding-left: 18px;
    transition: 0.25s;
}

.services-item__thumb {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.services-item__img {
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: 0.25s;
}

.services-item__heading {
    color: #152427;
    margin-top: 24px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services-item__desc {
    margin: 18px 0 23px;
    max-width: 268px;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.7;
}

/* ================= Services ================== */
.about {
    margin-top: 157px;
}

.about__content {
    display: flex;
}

/* About Media */
.about__media {
    position: relative;
    display: flex;
    column-gap: 21px;
}

.about__photo {
    max-width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__photo:first-child {
    position: relative;
    top: 77px;
}

.about__img {
    width: 100%;
    height: 100%;
    border-radius: 210px;
    object-fit: cover;
}

.about__deco {
    position: absolute;
}

.about__union {
    top: -18px;
    left: 46px;
}

.about__vector {
    top: -25px;
    left: 86px;
}

.about-stats {
    position: absolute;
    top: 418px;
    right: -9px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-stats__content {
    padding: 19px;
    font-family: "Public Sans", sans-serif;
}

.about-stats__heading {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-stats__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-stats__value {
    display: inline-block;
    margin-top: 10px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-stats__line {
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about-stats__line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}
.about-stats__loading {
    margin-top: 3px;
    display: block;
    text-align: right;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.about-stats__dot {
    margin-top: 3px;
}

.about-stats__row {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-stats__row-team {
    color: #152427;
    font-size: 1rem;
    line-height: 1.4;
}

.about-stats__row-avatar {
    display: flex;
}

.about-stats__thumb {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    object-fit: cover;
}

/* About Text */
.about__text {
    margin-left: auto;
    padding-left: 10px;
    max-width: 483px;
    width: 100%;
}

.about__sub-heading {
    display: flex;
    align-items: center;
    column-gap: 21px;
    color: #152427;
    line-height: 1.13;
}

.about__sub-heading::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
    line-height: 1.63;
}

.about__row {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 36px;
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #83a17d;
}

.about__value {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__row-desc {
    max-width: 364px;
    height: 52px;
    color: #7d8188;
    font-size: 1.4rem;
    line-height: 1.72;
}

/* ================= Process ================== */
.process {
    margin: 156px 0 148px;
    font-family: "Poppins", sans-serif;
}

/* Process top */
.process__sub-heading {
    display: flex;
    align-items: center;
    column-gap: 21px;
    padding-top: 36px;
    color: #152427;
    line-height: 1.125;
}

.process__sub-heading::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.process__heading::after {
    position: relative;
    bottom: 10px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.process__list {
    margin-top: 81px;
}

.process__row {
    position: relative;
    display: flex;
    width: 100%;
    height: 185px;
    border-bottom: 1px solid #83a17d;
}

.process__row:hover {
    background: var(--secondary-color);
    border-radius: 33px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.25s;
}

.process__row:hover .process__more {
    color: #575d5e;
}

.process__value {
    margin: 57px 0 76px 30px;
    width: 110px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process__column {
    margin-left: 50px;
}

.process__name {
    margin-top: 72px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__more {
    display: inline-block;
    margin-top: 22px;
    color: transparent;
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    transition: 0.25s;
}

.process__img {
    position: absolute;
    top: -259px;
    right: 92px;
    max-width: 450px;
    height: 444px;
}

.process__desc {
    max-width: 572px;
    margin: 54px 0 0 175px;
    color: #7d8188;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

/* ================= Feature ================== */
.feature {
    padding: 116px 0 63px;
    background: var(--primary-color);
}

/* Feature Top */
.feature__top {
    display: flex;
    align-items: center;
}

.feature__heading {
    color: #e7f9f9;
}

.feature__heading::after {
    position: relative;
    top: -10px;
    left: 4px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.feature__info {
    margin-left: 93px;
}

.feature__desc {
    color: #6a8383;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
}

.feature__link {
    display: flex;
    column-gap: 26px;
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.57;
}

.feature__link:hover {
    text-decoration: underline;
}

/* Feature Media */
.feature__media {
    margin-top: 65px;
    position: relative;
}

.feature__video {
    border-radius: 22px;
}

.feature__button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 118px;
    height: 118px;
    border-radius: 118px;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
